# ----------------------------------------------------
# Requisitos para EMG Studio - Compatible Win 7 a Win 11
# NOTA: Para Windows 7, DEBE instalar Python 3.8 (máximo)
# ----------------------------------------------------
numpy<=1.24.3
pandas<=2.0.3
matplotlib<=3.7.3
scipy<=1.10.1
soundfile
sounddevice
pyqtgraph
PySide6<=6.5.3
Pillow<=10.0.1
nidaqmx
qdarkstyle
torch<=2.0.1
torchaudio<=2.0.2
torchvision<=0.15.2
pyinstaller==5.13.2
scikit-learn
umap-learn