# ----------------------------------------------------
# Requisitos para NANDU LSD en Linux
# ----------------------------------------------------
numpy
pandas
matplotlib
scipy
soundfile
sounddevice
pyqtgraph
PySide6
Pillow
nidaqmx
qdarkstyle
torch
torchaudio
torchvision
pyinstaller
scikit-learn
umap-learn
seaborn
xgboost
tensorly
numba
pynndescent
tqdm
python-decouple
requests
tzlocal
hightime
